:root {
    --font-family: 'Jaldi', sans-serif;


    --primary-purple: #674DEE;
    --secondary-purple: #6C19D8;

    --placeholder-text: #9B9B9B;
    --placeholder-input: rgba(255, 255, 255, 0.295);

    --white: white;
    --black: black;
    --gray: #848484;
    --yellow: #F6921E;

    --bg-color:rgba(236, 234, 234, 0.555);
}