@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import './components/header';


.main_wrapper {
    // justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    gap: 5px;
}

.list_wrap {
    // width: 50%;
}

.main_list {
    border: 1px solid;
    visibility: hidden;
    flex-wrap: wrap;
    display: flex;
    width: 100%;

}

.main_list-item {

    display: flex;
    align-items: center;
    margin: 2px;
    visibility: visible;
    cursor: pointer;
    font-size: 14px;
    justify-content: space-between;
    // background-color: aqua;
    border-radius: 5px;
    // width: calc(100%/5);
    width: 30%;
}

.main_list-item>span {
    pointer-events: none;
    padding: 2px;

}

.item_taken {
    display: none;
}




.member {
    // visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px;
    margin: 20px 20px;
    width: 200px;

}

// .member div {
//     display: flex;
//     align-items: center;
//     margin: 2px;
//     visibility: visible;
//     cursor: pointer;
//     font-size: 10px;
//     justify-content: space-between;
//     // background-color: aqua;
//     border-radius: 5px;
//     // width: calc(100%/2);
//     width: 30%;
// }

.green_product {
    background-color: rgb(106, 194, 106);
}

.red_product {
    // background-color: rgb(187, 50, 50);
}

.main_list-item {
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.main_list-item:last-child {
    margin-bottom: 0;
}

.main_list-item:hover {
    background: #ddd;
}

.main_list-item.selected {
    background: blue;
    color: #fff;
}

.btn{
    width: 150px;
}