.main_list{
    display: flex;
    /* width: 100%; */
    /* overflow-x:scroll; */
    overflow-y: scroll;
    width: calc(100% - 5x);
    margin: 0 auto;
    height: 230px;
    flex-wrap: nowrap;
    /* border: 1px solid; */
    background-color: rgba(92, 93, 102, 0.651);
}
.item__box{
    font-size: 12px;
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    
    min-width: 362px !important;
    justify-content: space-between;
}
.member{
    /* display: flex; */
    
    display: none !important;
    width: calc(100% - 5x);
    border: none;
    /* overflow: hidden; */
}


.selected{
    background-color: green !important;
}




.main_list-item{
    margin: 4px 2px;
    background-color: #fff;
   
}