html,
body {
	max-width: 100%;
	font-family: 'Orbitron', sans-serif;
	color: rgba(223, 223, 223, 0.8);
	font-size: 1rem;
	overflow-x: hidden;
}


.container {

	max-width: 1470px;
	margin: 0 auto;
	padding: 0 30px;

}

.header {
	// height: 100%;


}

.main {
	// height: 100%;

}

.footer {
	// flex: 0 0 auto;
}