.burger__menu {
    display: none;
    position: fixed;
    left: 200px;
    z-index: 50;
    transition: all 0.5s ease;

    & a {
        color: black;
    }

}

.burger__menu-button {
    position: fixed;
    top: 0px;
    z-index: 40;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 0;
    margin-right: 30px;
}

.burger__menu-lines,
.burger__menu-lines::after,
.burger__menu-lines::before {
    position: absolute;
    width: 30px;
    height: 2px;
    transition: all 0.5s ease;
    z-index: 999;
    background-color: rgb(255, 255, 255);

}

.burger__menu-active .burger__menu-lines {

    // background-color: rgb(10, 8, 8);

}
.burger__menu-active .burger__menu-lines::after {

    background-color: rgb(10, 8, 8);

}
.burger__menu-active .burger__menu-lines::before {

    background-color: rgb(10, 8, 8);

}



.burger__menu-lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.burger__menu-lines::before {
    content: '';
    top: -8px;
}

.burger__menu-lines::after {
    content: '';
    top: 8px;
}

.burger__menu-active .burger__menu-lines {
    // background-color: transparent;
}

.burger__menu-active .burger__menu-lines::after {
    top: 0;
    transform: rotate(45deg);
}

.burger__menu-active .burger__menu-lines::before {
    top: 0;
    transform: rotate(-45deg);
}



.burger__nav {
    height: 100%;
    width: 90%;
    top: 0px;
    position: fixed;
    z-index: 30;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    overflow-y: auto;
    right: -100%;
    align-items: flex-start;
    text-align: left;
    padding-top: 80px;
    transition: all 0.5s ease;
}

.burger__menu-active .burger__nav {
    right: 0;

}

.burger__nav-link {
    font-weight: 500;
    font-size: 24px;
    padding: 10px 30px;

}

.burger__nav-link:hover {
    border: 1px solid;
}

.burger__menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}

.burger__menu-active .burger__menu-overlay {
    display: block;
    background-color: rgb(255, 255, 255);
}

.burger__button {
    font-weight: 500;
    color: aliceblue;
    font-size: 16px;
    background-color: red;
    padding: 10px 50px;
    margin: 15px 20px;

}