.attendance__box {
    gap: 20px;
    display: flex;

    flex-wrap: wrap;
    padding: 40px 0 40px;
}


.attendance__box-item {
    flex: 1;    
    padding: 20px 40px 30px 20px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.attendance__box-item--title {
    // width: 70%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.attendance__box-item--text {
    padding: 4px 20px 10px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}