.facts {
    padding: 40px 0;
}


.facts__list{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.facts__list-item {
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
}

.facts__list-item--num {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--red);
}

.facts__list-item--text {
    font-family: var(--font-family-Raleway);
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */
}
.page__about-facts__list--wrapper{
    background-color: var(--gray);
    padding-bottom: 50px;
}