.header{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header__logo{
    padding: 33px 0 24px;
}
.header-menu{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
