.header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header__logo {
    padding: 3px 0;
}

.header-menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.header__search {
    display: flex;
    gap: 20px;


}

.header__burger-img {


    display: none ;

    @media screen and (max-width: 1000px) {


        display: block;
        
    
    
    }


    @media screen and (max-width: 768px) {





    }

}