.navigation {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    white-space: nowrap;
    flex-wrap: wrap;



    @media screen and (max-width: 1000px) {


        display: none ;
        


    }

    @media screen and (max-width: 768px) {


        



    }
}