.smallSlider {
    min-width: 100%;
    padding: 60px 0;

}

.smallSlider__wrapper {
    // max-width: 300px;
    overflow: hidden;
}

.smallSlider__line {
    
    // overflow: hidden;

    max-width: 100%;
    display: flex;
    transition: all ease-in .4s;



}

.smallSlider__item {
    // min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 7px;

    & img {
        // max-width: 25%;
        // flex: 1;
        // object-fit: cover;

    }
}



.smallSlider__control {
    display: flex;
    background-color: #fff;
    color: red;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 20px;

}

.smallSlider__button-prev {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: url('../img/el/arrowNextRed.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10px;
        width: 40px;
        font-size: 30px;
        left: -35px;
        bottom: -6px;





    }
}

.smallSlider__button-next {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background: url('../img/el/arrowPrevRed.svg');

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10px;
        width: 40px;
        bottom: -6px;

    }
}