.vertical-navigation {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: left;
    font-family: var(--font-family-Raleway);
    font-weight: 500;
    font-size: 15px;
    
}