.burger__menu{
    display: none;
    position: fixed;
    left: 200px;

}

.burger__menu-button{
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 40;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    // background-color: rgb(99, 83, 83);
}
.burger__menu-button:hover .burger__menu-lines{
    filter: brightness(0.7);
}

.burger__menu-lines,
.burger__menu-lines::after,
.burger__menu-lines::before{
position: absolute;
width: 40px;
height: 6px;
background-color: rgb(15, 15, 15);
}
.burger__menu-lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.burger__menu-lines::before{
    content: '';    
    top: -10px;
}
.burger__menu-lines::after{
    content: '';
    top: 10px;
}
.burger__menu-active .burger__menu-lines{
    background-color: transparent;
}
.burger__menu-active .burger__menu-lines::after{
    top: 0;
    transform: rotate(45deg);
}
.burger__menu-active .burger__menu-lines::before{
    top: 0;
    transform: rotate(-45deg);
}



.burger__nav{
    top: 80px;
    position: fixed;
    z-index: 30;
    display: flex;
    flex-direction: column;
    // height: 100%;
    background-color: rgb(48, 167, 157);
    overflow-y: auto;
    right: -100%;
    
}
.burger__menu-active .burger__nav{
    right: 0;
   
}
.burger__nav-link{
    font-size: 40px;
    padding: 40px 100px;

}
.burger__nav-link:hover{
    border: 1px solid;
}

.burger__menu-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;

}

.burger__menu-active .burger__menu-overlay{
    display: block;
    background-color: rgba(27, 16, 16, 0.493);
}

