@import 'settings/vars';
@import 'settings/fonts';
@import 'settings/reset';
@import 'settings/libs';
@import 'settings/global';


// blocks


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/burger';

// components





.button {
    background-color: rgb(230, 199, 29);
 }



.tac {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}




