.banner {
    background-image: url('../../images/banner/360-768-1280-banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    // width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    &__text {

        // width: max-content;
        font-family: var(--regular);
        font-size: 1.5rem;
        line-height: 140%;
        color: var(--white);
        padding: 40px 0 0 40px;
        & span{
            white-space: nowrap;;
        }
        // @media screen and (max-width:800px) {
        //     font-size: 1.3rem;
        // }


    }

    &__btn {
        margin: 300px auto;
        margin-bottom: 30px;
        white-space: nowrap;
        font-family: var(--bold);
        color: var(--white);

    }
}