.cards {



    &__item {
        padding: 20px;
        background-color: var(--white);
        max-width: 378px;
        border-radius: 12px;

    }

    &__img img {
    

        object-fit: cover;
    }
}