.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;

 

    &__item {
        flex: 1;
        padding: 20px;
        background-color: var(--white);
        max-width: 378px;
        border-radius: 12px;

    }

    &__img img {
    

        object-fit: cover;
    }
}

