.cars__wrapper {
    padding-top: 80px;
}
.cars__inner{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 20px;
    
}
.cars__title {



    padding-bottom: 14px;

}

