.navigation{
    display: flex;
    justify-content: space-between;
    // gap: 39px;
    flex-wrap: wrap;
    
    &__item{
        margin: 14px 0;
        // border-right: 1px solid ;
        white-space: nowrap;
        
        &:last-child{
            padding-right: 0px;
        }
        &:first-child{
            
            padding-left: 0px;
        }
    }
}
.line{
	margin-top: 14px;
	height: 20px;
	width: 1px;
	background-color: var(--white);
}