.order__wrapper {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 12px;
    padding:40px 40px;
    margin-top: 8px;
}

.order__text {
    padding: 10px 0;
}

.order__form-number {
    width: 80%;
    padding: 12px 0 12px 34px;

    @media screen and (max-width: 468px) {
        font-size: 14px;
        padding: 12px 0 12px 16px;
    }
 
}

.order__form-text {
    padding: 10px 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;

}
.order__button{
    // width: 50%;
    color: var(--white);
}