.order__wrapper {
    background-color: var(--gray);
    color: var(--white);
    border-radius: 12px;
    padding:40px 40px;
    margin-top: 8px;
}

.order__text {
    padding: 10px 0;
}

.order__form-number {
    display: block;
    max-width: 80%;
    border: 1px solid  ;
    padding: 12px 0px 12px 34px;
    border-radius: 5px;

    @media screen and (max-width: 468px) {
        font-size: 14px;
        padding: 10px 10px 10px 16px;
        max-width: 99%;
        font-size: 12px;

    }
 
}
.order__form-number:focus{
    
}
.order__form-text {
    padding: 10px 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;

}
.order__button{
    // width: 50%;
    color: var(--white);
}