.promo{
    display: flex;
    justify-content: space-between;

    &__left{
        width: 25%;
        width: 337px;
        padding: 36px 20px;
        border-radius: 12px;
        background-color: var(--white);
  
    }
    &__right{
        flex: 1;
        z-index: 1;
    }
}

