.promo {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 15px;

    &__left {

        align-items: center;
        padding: 36px 20px;
        border-radius: 12px;
        background-color: var(--white);
   

    }

    &__right {
        // min-width: 600px;
        flex: 1 1 auto;
        // z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        grid-template-columns: 12fr;
        z-index: 1000;
    }
}