.switcher__item {
    // min-width: 100%;
    
}

.switcher__btns {
    display: flex;
    justify-content: center;
    // justify-content: space-between;
    gap: 20px;

}

.switcher__button {
    height: 60px;
    width: 60px;
    background-color: var(--clr);
    border-radius: 8px;

    @media screen and (max-width: 768px) {
        height: 50px;
        width: 50px;
    }

}

.switcher__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;

}

.switcher__img-active {
    display: block;
}