@font-face {
    font-family: 'regular';
    src: url(../fonts/TacticSans-Reg.woff2) format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'medium';
    src: url(../fonts/TacticSans-Med.woff2) format('woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'bold';
    src: url(../fonts/TacticSans-Bld.woff2) format('woff2');
    font-weight: 600;
  }
  
