html,
body {
	max-width: 100%;
	font-size: 1rem;
	// overflow-x: hidden;
	// overflow-y: hidden;

	font-family: var(--regular);
	// font-family: var(--medium);
	// font-family: var(--bold);
	background-color: var(--bg-color);

	// @media screen and (max-width: 768px) {
	// 	font-size: 0.8rem;
	// }
}
	.container-fluid {
		max-width: 1920px;
		margin: 0 auto;
		padding: 0 20px;
	}

	.container {

		max-width: 1200px;
		margin: 0 auto;
		padding: 0 0px;
		border: 1px solid transparent;

		@media (max-width: 330px) {
			padding: 0 5px;
		}

	}

	.container-width {
		max-width: 829px;
		margin: 0 auto;
		padding: 0 0px;
	}

	.header {
		width: 100%;

		flex: 0 1 auto;

	}

	.main {

		flex: 0 1 auto;
		// height: 100vh;

	}

	.footer {
		flex: 0 0 auto;
	}


	::-webkit-scrollbar {
		height: 10px;
	}


	::-webkit-scrollbar-thumb {
		background-color: #31385380;
		/* цвет бегунка */
		border-radius: 5px;
		/* округлось бегунка */
		// border: 1px solid rgba(37, 37, 37, 0.253);  /* отступ вокруг бегунка */
	}