.spacer{
    width: 100%;
    margin: 0 auto;
    
    background: rgba(228, 239, 243, 0.7);
border-radius: 20px;
padding: 45px 33px;
text-align: center;


color:#0068FF;

font-weight: 700;
font-size: 24px;
line-height: 32px;
margin: 20px auto;



}
