.footer {
    background-color: #fff;

}

.faq__wrapper {
    margin-top: -200px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.faq {
    background-repeat: no-repeat;
    background-size: cover;
    // margin-left: 20px;
    height: 250px;
    width: 700px;
    background-color: #fff;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
    border: 2px solid black;
    box-shadow: 0px 0px 0px 2px rgba(253, 253, 253, 1);
    position: relative;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    padding: 40px 40px;

    &__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 52px;

        color: #C4C4C4;
    }

    &__subtitle {
        font-size: 34px;
        line-height: 31px;
        margin: 15px 0;
        color: #000000;
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1em;
        width: 50%;
    }










    &-redBox {
        position: absolute;
        height: 150px;
        width: 150px;
        background-color: #FF4656;
        right: 100px;
        bottom: 0;
    }

    & img {
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
}