.main {
    background-image: url('../../images/main-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__inner {
    
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-around;
}

.main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & h2 {
        align-self: center;
        position: relative;
        font-weight: 600;
        font-size: 130px;
        letter-spacing: 0.1em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        transform: rotate(90deg);
        margin-right: -110px;

    }
}