.shop {
    display: grid;
    gap: 10px;
    grid-template-columns: 9fr 3fr;
}

.products {
  
}

.products__list{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.cart__box {
 
}



// ****card

.card{
    // transform: scale(1);
    // border: 1px solid;
    border-radius: 2%;
    // height: 200px;
    // width: 200px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(51, 46, 46, 0.795);
    position: relative;
    z-index: 2;
}

.card__info{
    // width: 100%;
    position: absolute;
}
.info__button{
    // position: absolute;

}
.info__content{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    & img{
        width: 140px;
        height: 100px;
    }

}
.card__info-show{
    
    visibility: visible;
    opacity: 1;
    min-width: 94%;
    border-radius: 2%;
    border: 1px solid;
    background-color: rgb(228, 134, 13);
    // padding: 0 10px;
}



.card__count {
    // position: absolute;
    right: -10px;
    top: -9px;
    font-size: 20px;
    line-height: 28px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(155, 238, 153);
}

.card__img {}

.card__img img {

    border-radius: 2%;
}

.card__control {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}


.card__button{
    
    height: 30px;
    width: 30px;
    // font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(19, 15, 15, 0.555);
}



.cart__item{
    // transform: scale(1);
    // border: 1px solid;
    border-radius: 2%;
    // height: 200px;
    // width: 200px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(51, 46, 46, 0.795);
    // position: relative;
}
.none{
   display: none;
}
