@media screen and (max-width: 700px) {

    .burger__menu{
        display: block !important;
        position: absolute;
        background-color: rgb(170, 35, 35);
    }
    .header__logo{
        display: none;
    }
    
    
}

